
{{- $isMac := false }}
{{- if eq .chezmoi.os "darwin" }}
{{- $isMac = true }}
{{- end}}

{{- $isLinux := false }}
{{- if eq .chezmoi.os "linux" }}
{{- $isLinux = true }}
{{- end}}

[data]
isMac = {{ $isMac }}
isLinux = {{ $isLinux }}

[edit]
command = "hx"

[diff]
pager = "delta"

[merge]
command = "sh"
args = [
    "-c",
    "cp {{"{{ .Target }} {{ .Target }}.base && code --new-window --wait --merge {{ .Destination }} {{ .Target }} {{ .Target }}.base {{ .Source }}"}}",
]