
# Load the shell dotfiles, and then some:
# * ~/.path can be used to extend `$PATH`.
# * ~/.extra can be used for other settings you don’t want to commit.
for file in ~/.{path,exports,aliases,functions,extra}; do
  [ -r "$file" ] && [ -f "$file" ] && source "$file";
done;
unset file;

# Start ssh-agent
SSH_ENV="$HOME/.ssh/env"

{{- if .isLinux }}

# Enable programmable completion features
if [ -f /etc/bash_completion ] && ! shopt -oq posix; then
  . /etc/bash_completion
fi

eval "$(direnv hook bash)"

{{- else if .isMac }}

# Homebrew
eval "$(/opt/homebrew/bin/brew shellenv)"

function start_agent {
  echo "Initialising new SSH agent..."
  /usr/bin/ssh-agent | sed 's/^echo/#echo/' > "${SSH_ENV}"
  echo succeeded
  chmod 600 "${SSH_ENV}"
  . "${SSH_ENV}" > /dev/null
  /usr/bin/ssh-add;
}

# Source SSH settings, if applicable
if [ -f "${SSH_ENV}" ]; then
  . "${SSH_ENV}" > /dev/null
  #ps ${SSH_AGENT_PID} doesn't work under cywgin
  ps -ef | grep ${SSH_AGENT_PID} | grep ssh-agent$ > /dev/null || {
    start_agent;
  }
else
  start_agent;
fi

autoload -U +X compinit && compinit

eval "$(direnv hook zsh)"

{{- end }}

if [ -d ~/fuchsia ]; then
  # Fuchsia
  source ~/fuchsia/scripts/fx-env.sh
fi

# Rust
. "$HOME/.cargo/env"

# Python
eval "$(register-python-argcomplete pipx)"

# fzf fuzzy finder
{{- if .isLinux}}
eval "$(fzf --bash)"
{{- else if .isMac }}
source <(fzf --zsh)
{{- end }}

# Starship bash prompt
{{- if .isLinux }}
eval "$(starship init bash)"
{{- else if .isMac }}
eval "$(starship init zsh)"
{{- end }}
