#!/usr/bin/env bash

# Ask for the administrator password upfront
sudo -v

{{- if .isLinux }}

  # Install Python
  sudo apt update
  sudo apt install pipx
  pipx ensurepath

  # Install Python packages
  pipx install rofimoji

  # Install Go
  sudo apt install golang -y

  {{/*- Disabled
  # Install Neovim
  if ! hash nvim 2>/dev/null; then
    sudo apt update
    sudo apt install neovim python3-dev python3-pip python3-neovim xsel

    # Set Neovim to default editor
    sudo update-alternatives --install /usr/bin/vi vi /usr/bin/nvim 60
    sudo update-alternatives --auto vi
    sudo update-alternatives --install /usr/bin/vim vim /usr/bin/nvim 60
    sudo update-alternatives --auto vim
    sudo update-alternatives --install /usr/bin/editor editor /usr/bin/nvim 60
    sudo update-alternatives --auto editor
  fi
  */}}

  # Install other useful binaries.
  sudo apt install git
  sudo apt install git-delta
  sudo apt install wget
  sudo apt install fd-find
  sudo apt install wl-clipboard
  sudp apt install fzf
  sudo apt install direnv

  # Install kitty terminal
  mkdir -p $HOME/.local/stow
  curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin \
    dest=$HOME/.local/stow launch=n
  stow -v -t $HOME/.local -d $HOME/.local/stow kitty.app
  xdg-mime default org.kde.dolphin.desktop inode/directory
  sudo apt install kitty-terminfo # Ensure terminfo is available

{{- else if .isMac }}

  # Lower key repeat
  defaults write -g ApplePressAndHoldEnabled -bool false
  defaults write -g InitialKeyRepeat -int 15
  defaults write -g KeyRepeat -int 2

  # Show hidden files
  defaults write com.apple.Finder AppleShowAllFiles true

  # Install Homebrew
  if ! hash brew 2>/dev/null; then
    /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
  fi

  # Make sure we’re using the latest Homebrew.
  brew update

  # Upgrade any already-installed formulae.
  brew upgrade

  brew bundle --file=/dev/stdin <<EOF

  brew "cargo-binstall"
  brew "direnv"
  brew "fzf"
  brew "git"
  brew "git-delta"
  brew "go"
  brew "mise"
  brew "neovim"
  brew "pipx"
  brew "uv"            # Python package/project manager

  cask "discord"
  cask "ghostty"       # terminal
  cask "google-chrome"
  cask "hyperkey"      # rebind caps lock
  cask "obsidian"      # notetaking
  cask "rectangle"     # window snapping
  cask "spotify"
  cask "tailscale-app" # VPN
  cask "visual-studio-code"
  cask "vlc"
EOF

  brew install --cask font-fira-code-nerd-font

  # Python
  pipx ensurepath

  # golang
  mkdir $HOME/go

  # Remove outdated versions from the cellar.
  brew cleanup

{{- end }}

source ~/.bash_profile;

# Install Python packages
uv tool install --upgrade pynvim
pipx install argcomplete

# Install Rust
curl https://sh.rustup.rs -sSf | sh /dev/stdin -y --no-modify-path
source $HOME/.cargo/env

# Install Rust binaries
cargo install ripgrep
cargo install --locked starship
cargo install --locked zellij

# TODO(https://github.com/arxanas/git-branchless/issues/1585): Remove
rustup install 1.82
cargo +1.82 install --locked git-branchless

# Install vim-plug
curl -fLo ~/.local/share/nvim/site/autoload/plug.vim --create-dirs \
    https://raw.githubusercontent.com/junegunn/vim-plug/master/plug.vim
nvim +PlugInstall +qall

# Install Claude Code
curl -fsSL https://claude.ai/install.sh | bash